/* line 57, ../scss/config.scss */
span.icon {
  display: inline-block;
}

/* line 61, ../scss/config.scss */
.icon-leftarrow {
  background: url("/img/icons/leftarrow.png");
  width: 8px;
  height: 12px;
}

/* line 7, ../scss/base.scss */
footer {
  margin: 30px 0;
  color: #999;
}

/* line 12, ../scss/base.scss */
a.btn {
  display: inline-block;
  border-radius: 2px;
  background: #1685be;
  color: white;
  font-size: 11px;
  padding: 6px 20px;
}

/* line 21, ../scss/base.scss */
a.btn.arrow-left, a.btn.arrow-right {
  position: relative;
}
/* line 23, ../scss/base.scss */
a.btn.arrow-left:after, a.btn.arrow-right:after {
  width: 0;
  height: 0;
  display: inline-block;
  content: "&darr;";
  text-indent: -99999px;
  vertical-align: top;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -19px;
  z-index: 200;
}

/* line 38, ../scss/base.scss */
a.btn.arrow-left {
  padding-left: 10px;
  border-radius: 4px 2px 2px 4px;
  margin-left: 20px;
}
/* line 42, ../scss/base.scss */
a.btn.arrow-left:after {
  border-right: 19px solid #1685be;
  left: -18px;
}

/* line 47, ../scss/base.scss */
a.btn.arrow-right {
  padding-right: 10px;
  border-radius: 2px 4px 4px 2px;
  margin-right: 20px;
}
/* line 51, ../scss/base.scss */
a.btn.arrow-right:after {
  border-left: 19px solid #1685be;
  right: -18px;
}
