* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: #3d4451;
  border-radius: 3px;
  text-align: center;
  box-shadow: none;
  font-size: 18px;
  -webkit-appearance: none;
  border: none;
  vertical-align: bottom;
  font-weight: normal;
  -webkit-transition: background 0.25s ease-in, color 0.25s ease-in;
  -moz-transition: background 0.25s ease-in, color 0.25s ease-in;
  transition: background 0.25s ease-in, color 0.25s ease-in; }
  .btn:hover {
    background: #3d4451;
    color: #f1f1f1; }
  .btn:focus {
    outline: none; }

.btn.btn-primary {
  background: #383d46;
  color: white;
  text-transform: uppercase; }

.btn.btn-secondary {
  background: #ca3113;
  color: white;
  text-transform: uppercase; }

.btn.btn-wide {
  padding-left: 30px;
  padding-right: 30px; }

span.icon {
  display: inline-block; }

h1, h2, h3, h4, h5, h5 {
  margin: 0 0 .5em; }

h1, h2 {
  font-size: 42px;
  line-height: 1em;
  font-family: "minion-pro", serif;
  font-weight: normal; }

h4 {
  font-size: 16px;
  text-transform: uppercase; }

p,
ul,
li {
  font-weight: 300;
  line-height: 1.4em; }
  p.p-large,
  ul.p-large,
  li.p-large {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300; }

.two-col {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  text-align: justify; }

div.hr-wrap {
  position: relative; }
  div.hr-wrap.hr-centered {
    text-align: center; }
  div.hr-wrap.hr-left h3 {
    padding-left: 0; }
  div.hr-wrap.hr-right h3 {
    padding-right: 0; }
  div.hr-wrap h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    background: #f8f8f8;
    padding: 0 20px;
    display: inline-block;
    color: #aebdbb;
    position: relative;
    z-index: 10; }
  div.hr-wrap:after {
    content: '';
    border-top: 1px solid #aebdbb;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    z-index: 8; }

div.browser-chrome {
  border-radius: 5px 5px 0 0;
  background: #e4e4e4;
  padding: 10px; }
  div.browser-chrome:after {
    content: "";
    display: table;
    clear: both; }
  div.browser-chrome > span {
    float: left;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #999999;
    margin-right: 5px; }

div.browser-chrome-wrap {
  border: 4px solid #e4e4e4;
  border-top: none; }

ul.f-dropdown {
  border-radius: 3px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15); }
  ul.f-dropdown li > a {
    color: #524d56; }

.chosen-container-single:not(.chosen-with-drop) .chosen-single {
  background: none;
  border: none;
  box-shadow: none;
  color: white;
  font-size: 18px;
  font-weight: 300;
  padding-left: 0;
  font: "source-sans-pro", sans-serif; }

.chosen-container-single .chosen-single {
  height: 33px;
  padding: 5px 0 5px 8px; }
  .chosen-container-single .chosen-single div b {
    position: relative;
    top: 5px; }

.chosen-container-single.chosen-with-drop .chosen-single {
  background: rgba(255, 255, 255, 0.9); }
.chosen-container-single.chosen-with-drop .chosen-drop {
  background: rgba(255, 255, 255, 0.9);
  margin-top: 0; }

.chosen-container {
  font-size: 16px;
  margin: 0 0 5px; }
  .chosen-container.chosen-with-drop {
    color: #524d56; }
  .chosen-container .chosen-results li {
    padding: 7px 6px; }
    .chosen-container .chosen-results li.highlighted {
      background: #383d46; }

#primary-header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background: #383d46;
  z-index: 100; }

#primary-header,
.footer {
  padding: 10px 0; }
  #primary-header > .row,
  .footer > .row {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    #primary-header > .row:after,
    .footer > .row:after {
      content: "";
      display: table;
      clear: both; }
    #primary-header > .row:after,
    .footer > .row:after {
      content: "";
      display: table;
      clear: both; }
  #primary-header .logo-wrap,
  .footer .logo-wrap {
    float: left; }
    #primary-header .logo-wrap img,
    .footer .logo-wrap img {
      width: 190px;
      margin-top: 7px; }
  #primary-header .header-nav,
  #primary-header .footer-nav,
  .footer .header-nav,
  .footer .footer-nav {
    float: right; }
    #primary-header .header-nav a.active,
    #primary-header .footer-nav a.active,
    .footer .header-nav a.active,
    .footer .footer-nav a.active {
      background: #383d46; }
  #primary-header .nav-wrapper,
  .footer .nav-wrapper {
    -webkit-transition: top 0.15s eas-in;
    -moz-transition: top 0.15s eas-in;
    transition: top 0.15s eas-in; }
    #primary-header .nav-wrapper .main-nav,
    .footer .nav-wrapper .main-nav {
      margin-left: -20px; }
    #primary-header .nav-wrapper a,
    .footer .nav-wrapper a {
      display: inline-block;
      padding: 10px 20px;
      position: relative;
      text-transform: uppercase;
      font-size: 14px;
      color: white;
      border-radius: 3px;
      opacity: .9;
      -webkit-transition: color 0.25s ease-in 0.2s, background 0.25s ease-in 0.2s, opacity 0.25s 0.2s;
      -moz-transition: color 0.25s ease-in 0.2s, background 0.25s ease-in 0.2s, opacity 0.25s 0.2s;
      transition: color 0.25s ease-in 0.2s, background 0.25s ease-in 0.2s, opacity 0.25s 0.2s; }
      #primary-header .nav-wrapper a:hover,
      .footer .nav-wrapper a:hover {
        opacity: 1; }
      #primary-header .nav-wrapper a.active,
      .footer .nav-wrapper a.active {
        background: rgba(255, 255, 255, 0.2); }

#serviceDrop:before {
  left: 40px; }
#serviceDrop:after {
  left: 39px; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.row {
  display: block; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

body,
html,
button,
input,
select,
textarea {
  font-family: "source-sans-pro", sans-serif;
  color: #524d56;
  font-size: 16px;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased; }

footer {
  padding: 40px 0 20px;
  background: white;
  position: relative;
  z-index: 10;
  color: #aebdbb; }
  footer div {
    text-align: center;
    font-size: 12px; }

ul.bulleted {
  list-style: disc;
  margin-left: 20px; }

.hero {
  height: 500px;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  z-index: 0;
  background: #3d4451; }
  .hero div.image-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3d4451;
    background-size: cover;
    background-position: center;
    z-index: 1; }
    .hero div.image-wrapper .overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(61, 68, 81, 0.5); }

.first-section {
  margin-top: 560px; }

.content-section {
  position: relative;
  z-index: 10; }
