/* line 59, ../scss/config.scss */
span.icon {
  display: inline-block;
}

/* line 63, ../scss/config.scss */
.icon-leftarrow {
  background: url("/img/icons/leftarrow.png");
  width: 8px;
  height: 12px;
}
