/* line 58, ../scss/config.scss */
span.icon {
  display: inline-block;
}

/* line 62, ../scss/config.scss */
.icon-leftarrow {
  background: url("/img/icons/leftarrow.png");
  width: 8px;
  height: 12px;
}

/* line 7, ../scss/global.scss */
body {
  font-family: "ratio", sans-serif;
  color: #555555;
}

/* line 12, ../scss/global.scss */
footer {
  padding: 40px 0 20px;
  background: white;
  position: relative;
  z-index: 10;
}
/* line 17, ../scss/global.scss */
footer div {
  text-align: center;
  font-size: 12px;
}
