/* line 8, ../scss/landing.scss */
div.landing-page {
  background: #393939;
}
/* line 10, ../scss/landing.scss */
div.landing-page p {
  font-weight: 300;
}

/* line 15, ../scss/landing.scss */
section.content-section {
  padding: 100px 0;
}

/* line 19, ../scss/landing.scss */
section {
  background: white;
  position: relative;
  z-index: 10;
}

/* line 25, ../scss/landing.scss */
section.dark {
  background: #3d4451;
  color: #999999;
}

/* line 40, ../scss/landing.scss */
#landing-hero {
  height: 750px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background: #3d4451;
}
/* line 48, ../scss/landing.scss */
#landing-hero div.image-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3d4451;
  background-image: url("/img/camp-hero.jpg");
  background-size: cover;
  background-position: center;
}

/* line 62, ../scss/landing.scss */
#logo-wrap {
  position: relative;
}
/* line 64, ../scss/landing.scss */
#logo-wrap img {
  left: 50%;
  margin-left: -200px;
  display: block;
  position: absolute;
  top: -530px;
  z-index: 5;
}

/* line 74, ../scss/landing.scss */
section.top-text {
  margin-top: 750px;
  font-size: 23px;
  line-height: 43px;
  background: rgba(255, 255, 255, 0.92);
  padding-bottom: 110px;
}
/* line 81, ../scss/landing.scss */
section.top-text h2 {
  font-size: 28px;
  margin: 0 0 16px;
  line-height: 1.2em;
}
/* line 86, ../scss/landing.scss */
section.top-text p {
  font-size: 26px;
}

/* line 91, ../scss/landing.scss */
section.services {
  text-align: center;
  padding-bottom: 0;
}
/* line 94, ../scss/landing.scss */
section.services span.icon {
  font-size: 80px;
  color: #71c8b9;
  margin-bottom: 16px;
}
/* line 100, ../scss/landing.scss */
section.services h3 {
  margin: 0 0 10px;
  font-weight: normal;
  font-size: 26px;
}
/* line 105, ../scss/landing.scss */
section.services p {
  font-size: 18px;
  line-height: 1.6em;
}
/* line 110, ../scss/landing.scss */
section.services div.row > div {
  margin-bottom: 20px;
}
/* line 115, ../scss/landing.scss */
section.services div.applications span.icon {
  font-size: 120px;
  margin-top: -40px;
  position: relative;
  top: 20px;
}

/* line 134, ../scss/landing.scss */
section.navigation {
  border-top: 1px solid #d7d7d7;
  z-index: 1000;
}
/* line 138, ../scss/landing.scss */
section.navigation.fixed div.nav-wrapper {
  position: fixed;
  background: white;
  top: 0;
  right: 0;
  left: 0;
}
/* line 145, ../scss/landing.scss */
section.navigation.fixed div.nav-wrapper a.home-anchor {
  display: inline-block;
  opacity: 1;
}

/* line 152, ../scss/landing.scss */
section.navigation div.nav-wrapper {
  border-bottom: 1px solid #d7d7d7;
  -webkit-transition: top 0.15s eas-in;
  -moz-transition: top 0.15s eas-in;
  -o-transition: top 0.15s eas-in;
  transition: top 0.15s eas-in;
}
/* line 47, ../scss/config.scss */
section.navigation div.nav-wrapper > div:after {
  content: "";
  display: table;
  clear: both;
}
/* line 158, ../scss/landing.scss */
section.navigation div.nav-wrapper a {
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  -webkit-transition: color 0.25s ease-in;
  -webkit-transition-delay: 0.2s;
  -moz-transition: color 0.25s ease-in 0.2s;
  -o-transition: color 0.25s ease-in 0.2s;
  transition: color 0.25s ease-in 0.2s;
}
/* line 163, ../scss/landing.scss */
section.navigation div.nav-wrapper a:after {
  content: "";
  position: absolute;
  height: 6px;
  bottom: -3px;
  right: 0;
  left: 0;
  background: transparent;
  border-radius: 2px;
  -webkit-transition: background 0.4s ease-in;
  -moz-transition: background 0.4s ease-in;
  -o-transition: background 0.4s ease-in;
  transition: background 0.4s ease-in;
}
/* line 174, ../scss/landing.scss */
section.navigation div.nav-wrapper a.active:after {
  background: #71c8b9;
}
/* line 177, ../scss/landing.scss */
section.navigation div.nav-wrapper a:hover {
  color: #7b7b7b;
}
/* line 182, ../scss/landing.scss */
section.navigation div.nav-wrapper a.home-anchor {
  opacity: 0;
  display: none;
  padding: 9px 20px 9px 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}
/* line 187, ../scss/landing.scss */
section.navigation div.nav-wrapper a.home-anchor img {
  height: 20px;
}
/* line 192, ../scss/landing.scss */
section.navigation div.nav-wrapper div.right-nav {
  float: right;
}
/* line 195, ../scss/landing.scss */
section.navigation div.nav-wrapper div.left-nav {
  float: left;
}

/* line 217, ../scss/landing.scss */
section.projects {
  overflow: hidden;
  padding: 0;
}
/* line 220, ../scss/landing.scss */
section.projects > * {
  position: relative;
}
/* line 224, ../scss/landing.scss */
section.projects div.toprow .project,
section.projects div.siderows .project {
  height: 300px;
}
/* line 227, ../scss/landing.scss */
section.projects div.split .project {
  height: 630px;
}
/* line 231, ../scss/landing.scss */
section.projects div.project img {
  border-radius: 2px;
  display: block;
}
/* line 235, ../scss/landing.scss */
section.projects div.project a {
  display: block;
  -webkit-transition: box-shadow 0.25s ease-in;
  -webkit-transition-delay: 0.1s;
  -moz-transition: box-shadow 0.25s ease-in 0.1s;
  -o-transition: box-shadow 0.25s ease-in 0.1s;
  transition: box-shadow 0.25s ease-in 0.1s;
}
/* line 238, ../scss/landing.scss */
section.projects div.project a:hover {
  box-shadow: 0 0 0 8px #f1f1f1;
}

/* line 245, ../scss/landing.scss */
section.projects div.cta {
  margin-bottom: 30px;
}
/* line 247, ../scss/landing.scss */
section.projects div.cta p {
  font-size: 32px;
  line-height: 1em;
  text-align: center;
  margin-top: 60px;
}
/* line 253, ../scss/landing.scss */
section.projects div.cta a {
  display: block;
  width: 180px;
  margin: 0 auto;
}

/* line 260, ../scss/landing.scss */
div.projects-container {
  position: relative;
  width: 200%;
  -webkit-transition: left 0.5s ease-in;
  -moz-transition: left 0.5s ease-in;
  -o-transition: left 0.5s ease-in;
  transition: left 0.5s ease-in;
}
/* line 47, ../scss/config.scss */
div.projects-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 265, ../scss/landing.scss */
div.projects-container > * {
  float: left;
  width: 50%;
}
/* line 269, ../scss/landing.scss */
div.projects-container.open {
  left: -100%;
}

/* line 274, ../scss/landing.scss */
div.project {
  margin-bottom: 30px;
}

/* line 278, ../scss/landing.scss */
#projects-gallery {
  padding: 80px 0 100px;
  overflow: hidden;
}

/* line 284, ../scss/landing.scss */
div.share-projects h3 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin: 60px 0 20px;
}
/* line 290, ../scss/landing.scss */
div.share-projects a {
  display: block;
  width: 220px;
  margin: 0 auto;
}

/* line 301, ../scss/landing.scss */
div#project-wrapper {
  padding: 80px 0 100px;
}
/* line 304, ../scss/landing.scss */
div#project-wrapper a.close {
  background: #71c8b9;
  color: #d0e7e3;
  position: fixed;
  top: 80px;
  left: 40px;
  z-index: 1000;
  border: none;
  padding: 14px 16px;
}
/* line 313, ../scss/landing.scss */
div#project-wrapper a.close span.icon {
  margin-right: 3px;
}
/* line 319, ../scss/landing.scss */
div#project-wrapper div.portfolio-content:hover div.image-wrap a.close {
  opacity: 1;
}
/* line 324, ../scss/landing.scss */
div#project-wrapper div.secondary-image {
  margin-bottom: 20px;
}

/* line 331, ../scss/landing.scss */
div.post-content p.author {
  margin-left: 50px;
  padding: 6px 10px;
  background: #f2f8f7;
  border-radius: 2px;
  position: relative;
  font-style: italic;
}
/* line 338, ../scss/landing.scss */
div.post-content p.author img.profile {
  width: 40px;
  position: absolute;
  top: 0;
  left: -50px;
}
/* line 346, ../scss/landing.scss */
div.post-content div.links {
  margin-top: 40px;
}
/* line 349, ../scss/landing.scss */
div.post-content div.links a {
  margin-right: 10px;
}

/* line 370, ../scss/landing.scss */
section.about {
  padding: 150px 0;
}
/* line 373, ../scss/landing.scss */
section.about h2 {
  text-align: center;
  font-size: 46px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 8px;
  line-height: 1em;
  color: #1a1d23;
}
/* line 382, ../scss/landing.scss */
section.about p.about-us {
  color: #1a1d23;
  margin: 0 0 30px;
  font-size: 23px;
  line-height: 33px;
  font-weight: normal;
  text-align: center;
  font-style: italic;
}
/* line 392, ../scss/landing.scss */
section.about div.profile > p {
  padding-right: 20px;
  color: #f1f1f1;
}
/* line 397, ../scss/landing.scss */
section.about img.profile {
  margin-bottom: 12px;
}
/* line 401, ../scss/landing.scss */
section.about h3 {
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 10px;
  color: #d0e7e3;
}
/* line 408, ../scss/landing.scss */
section.about div.profile:first-child {
  text-align: right;
}
/* line 411, ../scss/landing.scss */
section.about div.profile:first-child > p {
  padding: 0;
  padding-left: 20px;
}

/* line 418, ../scss/landing.scss */
div.social-links {
  margin-bottom: 30px;
}
/* line 420, ../scss/landing.scss */
div.social-links > a {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-left: 5px;
}
/* line 427, ../scss/landing.scss */
div.social-links > a:hover img {
  opacity: 0;
}
/* line 430, ../scss/landing.scss */
div.social-links > a:hover img.color {
  opacity: 1;
}
/* line 435, ../scss/landing.scss */
div.social-links img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}
/* line 441, ../scss/landing.scss */
div.social-links img.color {
  opacity: 0;
}

/* line 463, ../scss/landing.scss */
section.contact {
  padding: 300px 0;
}
/* line 465, ../scss/landing.scss */
section.contact p {
  font-size: 50px;
  line-height: 50px;
  font-weight: 200;
  text-align: center;
}
/* line 472, ../scss/landing.scss */
section.contact a {
  display: block;
  width: 180px;
  margin: 0 auto;
}
