@import "config";

// **********************************************************************
// Base styles
// **********************************************************************

footer {
  margin: 30px 0;
  color: #999;
}

a.btn {
  display: inline-block;
  border-radius: 2px;
  background: $blue;
  color: white;
  font-size: 11px;
  padding: 6px 20px;
}

a.btn.arrow-left, a.btn.arrow-right {
  position: relative;
  &:after {
    width: 0;
    height: 0;
    display: inline-block;
    content: "&darr;";
    text-indent: -99999px;
    vertical-align: top; 
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    z-index: 200;
  }
}
a.btn.arrow-left {
  padding-left: 10px;
  border-radius: 4px 2px 2px 4px;
  margin-left: 20px;
  &:after {
    border-right: 19px solid $blue;
    left: -18px;
  }
}
a.btn.arrow-right {
  padding-right: 10px;
  border-radius: 2px 4px 4px 2px;
  margin-right: 20px;
  &:after {
    border-left: 19px solid $blue;
    right: -18px;
  }
}