@import "config/variables";
@import "config/responsive";

@import "components/buttons";
@import "components/type";
@import "components/ui";
@import "components/header";

// ************************************************************************************************
// Body Styles
// **************************************************************************************************

body {
  font-family: $body-font;
  color:$gray;
  font-size: 16px;
  line-height: 1.4em;
}

footer {
  padding: 40px 0 20px;
  background: white;
  position: relative;
  z-index: 10;
  color: $light-gray;
  div {
    text-align: center;
    font-size: 12px;
  }
}

