@import "plugins/selectize";
@import "plugins/selectize.default";
@import "plugins/slicknav";

@import "config/variables";
@import "config/responsive";

@import "components/buttons";
@import "components/type";
@import "components/ui";
@import "components/dropdowns";
@import "components/plugins";
@import "components/forms";
@import "components/header";
@import "components/footer";

@import "sections/case-study";


// **********************************************************************
// SCAFFOLDING
// **********************************************************************

.container {
  @include container;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  @include row;
}

// ************************************************************************************************
// Body Styles
// **************************************************************************************************


html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body,
html,
button,
input,
select,
textarea {
  font-family: $body-font;
  color:$gray;
  font-size: 16px;
  line-height: 1.4em;

  -webkit-font-smoothing: antialiased;
}

footer {
  padding: 40px 0 20px;
  background: white;
  position: relative;
  z-index: 10;
  color: $light-gray;
  div {
    text-align: center;
    font-size: 12px;
  }
}

ul.bulleted {
  list-style: disc;
  margin-left: 20px;
}


// **********************************************************************
// COMPONENTS
// **********************************************************************

$hero-height: 500px;
$header-height: 60px;

.hero {
  height: $hero-height;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  z-index: 0;
  background: $blue-gray;

  div.image-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $blue-gray;
    background-size: cover;
    background-position: center;
    z-index: 1;
    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba($blue-gray, .5);
    }
  }
}

.first-section {
  margin-top: ($hero-height + $header-height);
}

.content-section {
  position: relative;
  z-index: 10;
}
