@import "config";

#content.blog-layout {
  max-width: 600px;
  margin: 60px auto;

  h2 + p {
    margin: -5px 0 28px; 
  }
  h3 {
    font-size: 18px;
    margin: 0;
  }

  p.published {
    margin: 3px 0 0;
    color: $gray-lighten;
  }
}

ul.post-list{
  li {
    border-bottom: 1px solid #ececec;
    &:last-child {
      border-bottom: none;
    }
    > a {
      padding: 10px 0;
      @include clearfix;
      display: block;

      @include single-transition(color, 0.25s, ease-out);
      &:hover {
        color: $gray-darken;
      }

      h3 { float: left; }
      p { float: right; }
    }
  }
}