@import "compass/css3";

// **********************************************************************
// Colors
// **********************************************************************

$gray:          #555555;
$gray-lighten:  #999999;
$gray-darken:   #333333;
$blue:          #1685be;
$light-gray:    #d7d7d7;
$off-white:     #f1f1f1;

$orange:        #f09232;
$blue-gray:     #333944;
$teal:          #71C8B9;
$teal-light:    #d0e7e3;

// **********************************************************************
// Fonts
// **********************************************************************

$body-font: "ratio", sans-serif;

// **********************************************************************
// Mixins
// **********************************************************************

@mixin shadow($opacity: .25) {
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, $opacity);
}

@mixin shadow-inset($opacity: .25) {
  box-shadow:inset 0 1px 1px 0px rgba(0, 0, 0, $opacity);
}
@mixin box {
  background: url('/img/bg-snow.png') repeat #eee;
  border-radius: 3px;
  border: 1px solid #dedede\9;
  @include shadow;
  padding:18px;
}

@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}