@import "config";

// ************************************************************************************************
// Body Styles
// **************************************************************************************************

body {
  font-family: $body-font;
  color:$gray;
}

footer {
  padding: 40px 0 20px;
  background: white;
  position: relative;
  z-index: 10;
  div {
    text-align: center;
    font-size: 12px;
  }
}