@import "config";





// **********************************************************************
// Landing Hero
// **********************************************************************

#landing-hero {
  background-image: url("/img/camp-hero.jpg");
  background-size: cover;
  background-position: center;
  height: 750px;
  img {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 370px;
  }
}

section.content-section {
  padding: 100px 0;
}

section.dark {
  background: $blue-gray;
  color: $gray-lighten;
}










// **********************************************************************
// Navigation
// **********************************************************************

section.navigation {
  border-top: 1px solid $light-gray;

  &.fixed div.nav-wrapper {
    position: fixed;
    background: white;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
  }
}

section.navigation div.nav-wrapper {
  border-bottom: 1px solid $light-gray;
  @include transition(top .15s eas-in);

  > div { @include clearfix; }
  a {
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    &:after {
      content: ""; 
      position: absolute;
      height: 6px;
      bottom: -3px;
      right: 0;
      left: 0;
      background: transparent;
      @include transition(background .4s ease-in);
    }
    &.active:after {
      background: $orange;
    }
  }

  div.right-nav {
    float: right;
  }
  div.left-nav {
    float: left;
  }
}














// **********************************************************************
// Projects
// **********************************************************************

section.projects {
  overflow: hidden;
  padding: 0;
  div.toprow .project,
  div.siderows .project {
    height: 300px;
  }
  div.split .project {
    height: 630px;
  }
  div.p, 
  a.p {
    display: block;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background: #555;
    padding:10px;
  }
  > * {
    position: relative;
  }
}

div.projects-container {
  position: relative;
  width: 200%;
  @include clearfix;
  @include transition(left .5s ease-in);
  > * { 
    float: left; 
    width: 50%;
  }
  &.open {
    left: -100%;
  }
}

div.project {
  position: relative;
  color: white;
  margin-bottom: 30px;
}

#projects-gallery {
  padding: 100px 0;
}

// **********************************************************************
// Single project
// **********************************************************************

div.portfolio-content div.image-wrap {
  height: 400px;
  background: url("/img/projects/ansel-adams.jpg");
  background-size: cover;
  background-position: center;

  a.close {
    display: block;
    padding: 14px 10px;
    background: $off-white;
    color: $blue-gray;
    border-radius: 2px;
    text-align: center;
    width: 180px;
    margin: 30px 0 0;
    opacity: 0;
    @include transition(opacity .5s ease-in, background .25s ease-in);
    &:hover {
      background: darken($off-white, 10%);
    }
    span.icon {
      margin-right: 3px;
    }
  }
}

div.portfolio-content:hover {
  div.image-wrap a.close {
    opacity: 1;
  }
}












// **********************************************************************
// About Me
// **********************************************************************

section.about {
  padding: 100px 0 150px;

  h2 {
    text-align: center;
    font-size: 110px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 30px;
    color: $blue-gray-dark;
  }
  div.profile:first-child {
    text-align: right;
  }

  h3 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 10px;
    color: $teal-light;
  }

  div.social-links {
    > a {
      position: relative;
      display: inline-block;
      height: 40px;
      width: 40px;
      margin-left: 5px;
      &:hover {
        img {
          opacity: 0;
        }
        img.color {
          opacity: 1;
        }
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      @include transition(opacity .25s ease-in);
    }
    img.color {
      opacity: 0;
    }
  }
}













// **********************************************************************
// Contact
// **********************************************************************


section.contact {
  padding: 260px 0;
  p {
    font-size: 50px;
    line-height: 50px;
    font-weight: 200;
    text-align: center;
  }

  a {
    display: block;
    padding: 14px 10px;
    border: 2px solid $blue-gray;
    color: $blue-gray;
    border-radius: 2px;
    text-align: center;
    width: 180px;
    margin: 0 auto;
    @include transition(background .25s ease-in, color .25s ease-in);
    &:hover {
      background: $blue-gray;
      color: $off-white;
    }
  }
}