@import "config";

#landing-hero {
  background-image: url("/img/camp-hero.jpg");
  background-size: cover;
  background-position: center;
  height: 750px;
  img {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 370px;
  }
}

section.content-section {
  padding: 50px 0;
}

section.dark {
  background: $blue-gray;
  color: $gray-lighten;
}

section.navigation {
  border: 1px solid $light-gray;
  border-left: none;
  border-right: none;
  > div { @include clearfix; }
  a {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    position: relative;
    &.active:after {
      content: ""; 
      position: absolute;
      height: 6px;
      bottom: -3px;
      right: 0;
      left: 0;
      background: $orange;
    }
  }

  div.right-nav {
    float: right;
  }
  div.left-nav {
    float: left;
  }
}

section.projects {
  overflow: hidden;
  div.toprow .project,
  div.siderows .project {
    height: 300px;
  }
  div.split .project {
    height: 630px;
  }
  div.p, 
  a.p {
    display: block;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background: #555;
    padding:10px;
  }
  > * {
    position: relative;
  }
}

div.projects-container {
  position: relative;
  width: 200%;
  @include clearfix;
  @include transition(left .5s ease-in);
  > * { 
    float: left; 
    width: 50%;
  }
  &.open {
    left: -100%;
  }
}

div.project {
  position: relative;
  color: white;
  margin-bottom: 30px;
}


div.portfolio-content {
  a.close {

  }
}


section.about {
  h2 {
    text-align: center;
  }
  div.profile:first-child {
    text-align: right;
  }

  div.social-links {
    > a {
      position: relative;
      display: inline-block;
      height: 40px;
      width: 40px;
      margin-left: 5px;
      &:hover {
        img {
          opacity: 0;
        }
        img.color {
          opacity: 1;
        }
      }
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      @include transition(opacity .25s ease-in);
    }
    img.color {
      opacity: 0;
    }
  }
}

section.contact {
  padding: 200px 0;
  p {
    font-size: 50px;
    line-height: 50px;
    font-weight: 200;
    text-align: center;
  }

  a {
    display: block;
    padding: 14px 10px;
    border: 2px solid $blue-gray;
    color: $blue-gray;
    border-radius: 2px;
    text-align: center;
    width: 180px;
    margin: 0 auto;
    @include transition(background .25s ease-in, color .25s ease-in);
    &:hover {
      background: $blue-gray;
      color: $off-white;
    }
  }
}