@import "config";

#content.blog-post {
  width: auto;
  padding: 0;
  margin: 0;

  div.image-wrap {
    position: relative;
    max-height: 500px;
    overflow: hidden;
    height: 500px;
    img {
      position: absolute;
      width: 100%;
    }
  }

  h1 {
    font-size: 32px;
    margin: 40px 0 30px;
    line-height: 32px;
  }

  article {
    max-width: 660px;
    padding: 0 30px;
    margin: 0 auto;

    font-size: 16px;
    line-height: 1.75em;

    p {

    }

    h2 {
      font-size: 24px;
      margin-top: 30px;
    }

    h3 {
      font-size: 18px;
      font-weight: bold;
    }

    h4 {
      font-weight: bold;
      font-size: 16px;
    }

    h5 {
      font-size: 16px;
      font-weight: normal;
    }
  }


}