@import "../config/variables";

// **********************************************************************
// ASCENDIFY VARIABLES
// **********************************************************************

$text:        #555555;
$color:       #F5852B;
$background:  "/img/case-studies/thumbnails/ascendify_banner.jpg";

// **********************************************************************
// ASCENDIFY BASE
// **********************************************************************

body {
  color: $text;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;

  &:nth-child(even) {
    background: $bg;
    border-top: 1px solid darken($bg, 8%);
    border-bottom: 1px solid darken($bg, 8%);
  }

  .main-img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}



// **********************************************************************
// HERO
// **********************************************************************
.ascendify-hero.case-study-hero {
  .case-study-hero-intro {
    margin-top: 90px;
  }
  .case-study-interfaces {
    position: absolute;
    bottom: 0;
    background-image: url('/img/case-studies/ascendify/header.png');
    background-size: cover;
    width: 100%;
    height: 500px;
  }
}

// **********************************************************************
// INTRO
// **********************************************************************

.section.intro {
  .section-content {
    @include span-columns(8);
    @include shift(2);
  }
}


// **********************************************************************
// SEARCH
// **********************************************************************

.section.search {
  padding: 40px 0 60px;
  .main-img {
    margin-bottom: 70px;
  }
  .about {
    font-size: 20px;
    line-height: 28px;
    @include span-columns(10);
    @include shift(1);
  }
}


// **********************************************************************
// PULL QUOTE
// **********************************************************************

.section.pull-quote {
  padding: 80px 0;
  position: relative;
  background: url(#{$background}) center bottom no-repeat;
  background-size: cover;

  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($color, .85),
  }

  .container {
    position: relative;
    z-index: 2;
  }

  div.quote {
    @include span-columns(10);
    @include shift(1);
  }
  p {
    font-size: 36px;
    line-height: 1.15em;
    font-weight: 200;
    color: white;
  }

  p.quote {
    text-indent: -10px;
  }

  p.by-line {
    font-size: 30px;
    text-align: right;
    font-style: italic;
    margin: 0;
  }

  .profile-img {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background: url('/img/case-studies/ascendify/matt-profile.jpg') no-repeat center center;
    background-size: cover;
    border: 1px solid darken($color, 20%);
    margin: 0 10px -14px 0;
  }
}

// **********************************************************************
// SHOWCASE
// **********************************************************************

.section.showcase {
  background: #f5f5f5;
  padding: 75px 0;

  .content-left {
    @include span-columns(8);
    .row > div {
      @include span-columns(6);
    }
  }
  .about {
    @include span-columns(4);
    margin-top: 20px;
  }

  .row .row img + img {
    margin-top: 35px;
  }
}


// **********************************************************************
// LINKS
// **********************************************************************

.section.links {
  padding: 80px 0;
  text-align: center;
  .client-list {
    margin-top: 70px;
    margin-bottom: 50px;
    > li {
      @include span-columns(4);

      &:first-child { padding-left: 0; }
      &:last-child { padding-right: 0; }

      img {
        display: block;
        width: 60%;
        margin: 0 auto;
      }

      &.zappos {
        margin-top: -10px;
      }
    }
  }
}