@import "../config/variables";

// **********************************************************************
// ASCENDIFY VARIABLES
// **********************************************************************

$text:        #555555;

// **********************************************************************
// ASCENDIFY BASE
// **********************************************************************

body {
  color: $text;
}

.section {
  .main-img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

// **********************************************************************
// ASCENDIFY HEADER
// **********************************************************************

#case-study-header {
  background: url('/img/camp-hero.jpg') center top no-repeat;
  background-size: cover;
}

// **********************************************************************
// HERO
// **********************************************************************

.section.ascendify-hero {
  padding: 210px 0 100px;
}

// **********************************************************************
// GROUP
// **********************************************************************

.section.group {
  padding: 0 0 110px;
}

// **********************************************************************
// SEARCH
// **********************************************************************

.section.search {
  padding: 40px 0 180px;
  .main-img {
    margin-bottom: 100px;
  }
  .about {
    font-size: 20px;
    line-height: 28px;
  }
}

// **********************************************************************
// SHOWCASE
// **********************************************************************

.section.showcase {
  background: #f5f5f5;
  padding: 75px 0;

  .row .row img + img {
    margin-top: 35px;
  }
  .about {
    margin-top: 20px;
  }
}