@import "../config/variables";


// **********************************************************************
// HERO
// **********************************************************************

.footprint-page {
  .footprint-hero {
    background: $primary-light;
    text-align: center;

    .container {
      color: white;
      position: relative;
      z-index: 5;
    }
  }

  h1 {
    @include span-columns(8);
    @include shift(2);
    margin-top: 170px;
  }
  h3 {
    @include span-columns(8);
    @include shift(2);
    font-weight: normal;
    line-height: 1.6em;
  }

  ul.bulleted {
    list-style: none;
    li {
      position: relative;
      margin-bottom: 10px;
      @include fa-before(circle-o);
      &:before {
        left: -21px;
        top: 10px;
        font-size: 11px;
        opacity: .8;
        padding-right: 2px;
      }
    }
  }
}

@include mq($mobile) {
  .footprint-page h1 {
    font-size: 36px;
    margin-top: 110px;
    @include span-columns(10);
    @include shift(1);
  }
}


// **********************************************************************
// CONTENT SECTIONS
// **********************************************************************

.footprint-page .content-section {
  background: white;
  padding-top: 100px;
  padding-bottom: 100px;

  &:nth-child(even) {
    background: $bg;
    border-top: 1px solid darken($bg, 8%);
    border-bottom: 1px solid darken($bg, 8%);
  }

  .row > * {
    @include span-columns(8);
    @include shift(2);
  }

  p,
  li {
    font-size: 20px;
    line-height: 1.6em;

    a {
      color: $link;
      text-decoration: underline;
    }
  }

  p.subtle {
    font-size: 18px;
    font-style: italic;
    opacity: .7;
  }

  ul + * {
    margin-top: 30px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba($light-gray, .5);
    padding-bottom: 12px;
  }
}

.footprint-page {
  %dark {
    background: $primary;
    color: white;
  }
}

@include mq($tablet) {
  .footprint-page .content-section {
    padding-top: 80px;
    padding-bottom: 80px;

    .row > * {
      @include span-columns(10);
      @include shift(1);
    }
  }
}

@include mq($mobile-md) {
  .footprint-page .content-section {
    padding-top: 50px;
    padding-bottom: 50px;

    .row > * {
      @include span-columns(12);
      @include shift(0);
    }
  }
}


// **********************************************************************
// INFO
// **********************************************************************

.footprint-page .info {
  p {
    font-size: 24px;
  }
}

@include mq($mobile) {
  .footprint-page h1 {
    font-size: 36px;
  }
}


// **********************************************************************
// TESTIMONIAL
// **********************************************************************

.footprint-page .content-section.testimonial-top {
  @extend %dark;
  padding-top: 60px;
  padding-bottom: 60px;
  img.profile {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    border-radius: 80px;
    border: 3px solid rgba($bg, .5);
  }
  p {
    padding-left: 110px;
    position: relative;
  }
  .quote {
    text-indent: -10px;
  }
  .by-line {
    text-align: right;
    opacity: .6;
    margin: 0;
  }
}

@include mq($mobile-md) {
  .footprint-page .content-section.testimonial-top {
    img.profile {
      position: static;
      display: block;
      margin: 0 auto 20px;
    }
    p {
      padding-left: 0;
    }
  }
}



// **********************************************************************
// RIGHT FOR YOU
// **********************************************************************

.footprint-page .right-for-you {
  ul.bulleted {
    li {
      @include fa-before(check);
      &:before {
        left: -28px;
        color: $teal;
        top: 7px;
        font-size: inherit;
        opacity: 1;
      }
    }
  }
}


// **********************************************************************
// WRONG FOR YOU
// **********************************************************************

.footprint-page .not-right-for-you {
  ul.bulleted {
    li {
      @include fa-before(times);
      &:before {
        left: -28px;
        color: $red;
        top: 7px;
        font-size: inherit;
        opacity: 1;
      }
    }
  }
}


// **********************************************************************
// CONTACT
// **********************************************************************

.footprint-page .content-section.get-started {
  padding-top: 250px;
  padding-bottom: 250px;
  background: url('/img/footprint/footprint-bw.jpg') no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba($blue-gray, .5);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  h3 {
    margin: 0 0 20px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 48px;
    line-height: 1.1em;
    float: none;
    font-family: $body-serif;
    color: white;
  }
  a.btn {
    display: block;
    width: 300px;
    margin: 0 auto;
    padding: 20px 30px;
  }
}

@include mq($mobile-md) {
  .footprint-page .content-section.get-started {
    padding-top: 150px;
    padding-bottom: 150px;

    a.btn {
      display: block;
      width: 90%;
      margin: 0 auto;
      padding: 20px 10px;
    }
  }
}

