@import "../config/variables";


// **********************************************************************
// Base Landing page styles
// **********************************************************************

div.landing-page {
  background: $bg;
  p {
    font-weight: 300;
    font-size: 20px;
  }
}

section.content-section {
  padding: 100px 0;
}

section {
  position: relative;
  background: $bg;
  z-index: 10;

  .container {
    @include container;
  }
}

section.dark {
  background: $primary-light;
  .hr-wrap h3 {
    background: $primary-light;
  }
}

section.hr {
  padding-top: 0;
  .hr-wrap {
    margin-bottom: 50px;
  }
}


// **********************************************************************
// Landing Hero
// **********************************************************************

.hero {
  height: 700px;
  top: 0;
}

#landing-hero {
  .video-wrapper {
    .bgvid {
      position: fixed;
      right: 0;
      top: 0px;
      min-width: 100%;
      min-height: 700px;
      z-index: -2;
      background: url(/img/trees.jpg) no-repeat;
      background-size: cover;
    }
    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(#91b69b, .7);
      z-index: -1;
    }
  }
  .hero-content {
    color: $off-white;
    text-align: center;
    position: relative;
    top: 50%;
    margin: 0 auto;
    max-width: 540px;
    z-index: 15;
    @include transform(translate(0, -60%));
    img {
      display: block;
      max-width: 360px;
      margin: 0 auto 30px;
    }
  }
}

section.top-text {
  padding-bottom: 110px;
  margin-top: 700px;
  text-align: center;

  .section-content {
    @include span-columns(8);
    @include shift(2);
  }


  h2 {
    font-size: 34px;
    margin: 0 0 24px;
    line-height: 1.2em;
  }
  p {
    font-size: 26px;
    line-height: 1.5em;
    margin-bottom: 30px;
  }

  .buttons-wrap {
    text-align: center;
    button {
      display: inline-block;
    }
  }

}











// **********************************************************************
// CASE STUDIES
// **********************************************************************


section.case-studies {
  padding-top: 0;

  .hr-wrap {
    margin-bottom: 50px;
  }

  .studies {
    .case {
      @include span-columns(3);
      .case-content {
        height: 230px;
      }
      img {
        width: 70%;
      }
    }
  }
}





// **********************************************************************
// SERVICES
// **********************************************************************

.services-list {
  @include row;
  margin: 90px 0 80px;
}

.services-list_item {
  @include span-columns(4);
  padding-right: 30px;
  border: 1px solid $off-white;
  background: white;
  padding: 20px;
  text-align: center;

  h3 {
    margin: 10px 0 20px;
    font-size: 26px;
    font-weight: normal;
  }

  a.btn {
    display: block;
    width: 100%;
  }

}

.services-list .services-list_item--main {
  margin-top: -40px;
  background: $primary;
  color: white;
  border-color: $primary;

  h3 {
    font-size: 35px;
  }
  p {
    font-size: 24px;
    line-height: 1.4em;
  }
}











// **********************************************************************
// ABOUT
// **********************************************************************

section.about {
  @include container;
  padding: 150px 0;
  color: white;

  h2 {
    line-height: 1em;
  }
  p {
    text-align: left;
    font-weight: normal;
  }

  div.about-us {
    @include span-columns(7);
    p {
      font-size: 20px;
      margin: 0 0 25px;
    }
  }

  div.profile {
    @include span-columns(2);
    &.first { @include shift(1); }
  }

  div.profile > p {
    font-size: 16px;
    font-style: italic;
  }

  img.profile {
    margin-bottom: 12px;
    width: 100%;
  }

  h3 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 10px;
    color: $teal-light;
  }

  div.profile:first-child {
    text-align: right;

    > p {
      padding: 0;
      padding-left: 20px;
    }
  }
}

div.social-links {
  margin-bottom: 30px;
  > a {
    position: relative;
    display: inline-block;
    height: 28px;
    width: 28px;
    margin-left: 5px;
    &:hover {
      img {
        opacity: 1;
      }
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
    @include transition(opacity .25s ease-in);
  }
}








// **********************************************************************
// FOOTER WRAP
// **********************************************************************

div.footer-wrap {
  background: url('/img/camp-footer.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 50;

  section { background: none; }
  > .row { @include clearfix; }

  .logo-wrap {
    float: left;
  }

  .footer-nav {
    float: right;

    a.active {
      background: $primary;
    }
  }
}


section.footer {
  padding: 0;

  > .row {
    border-top: 1px solid $light-gray;
    padding: 35px 0 30px;
  }
}









