@import "../config/variables";

// **********************************************************************
// Mobile / tablet styles
// **********************************************************************

body[data-device-type="tablet"],
body[data-device-type="tv"],
body[data-device-type="mobile"] {
  #landing-hero {
    position: relative;
  }

  section.top-text {
    margin-top: 0;
    background: white;
  }
}


// **********************************************************************
// Media Queries
// **********************************************************************

@media only screen and (max-width: 768px) {

  #landing-hero {
    height: 600px;
  }

  #logo-wrap img {
    width: 200px;
    margin-left: -100px;
    top: -370px;
  }

  section.top-text {
    margin-top: 600px;
  }

  section.navigation div.nav-wrapper a {
    padding: 5px 8px;
    &.home-anchor {
      padding: 4px 20px;
    }
  }


  section.about {
    div.profile,
    div.profile:first-child,
    div.profile > p,
    div.profile:first-child > p {
      text-align: center;
    }
    div.profile img {
      width: 180px;
    }
  }

}
