@import "../config/variables";


// **********************************************************************
// Base Landing page styles
// **********************************************************************

div.landing-page {
  background: $bg;
  p {
    font-weight: 300;
    font-size: 20px;
  }
}

section.content-section {
  padding: 100px 0;
}

section {
  position: relative;
  background: $bg;
  z-index: 10;

  .container {
    @include container;
  }
}

section.dark {
  background: $primary-light;
  .hr-wrap h3 {
    background: $primary-light;
  }
}

section.hr {
  padding-top: 0;
  .hr-wrap {
    margin-bottom: 50px;
  }
}


// **********************************************************************
// Landing Hero
// **********************************************************************

#landing-hero {
  height: 500px;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  z-index: 1;
  background: $blue-gray;
  div.hero-overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba($primary, .6);
    z-index:10;
  }
  div.image-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $blue-gray;
    background: url("/img/camp-hero2-bw.jpg");
    // background-image: url("/img/camp-hero.jpg");
    // opacity: .3;
    background-size: cover;
    background-position: center;
    z-index: 8;
    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba($blue-gray, .5);
    }
  }

  .hero-content {
    color: $off-white;
    text-align: center;
    position: relative;
    top: 50%;
    margin: 0 auto;
    max-width: 540px;
    z-index: 15;
    @include transform(translate(0, -60%));
    img {
      display: block;
      max-width: 180px;
      margin: 0 auto 30px;
    }
  }
}

#logo-wrap {
  position: relative;
  top: -370px;
  img {
    left: 50%;
    margin-left: -127px;
    display: block;
    position: absolute;
    z-index: 5;
  }
}

section.top-text {
  padding-bottom: 110px;
  margin-top: 560px;

  .section-content {
    @include span-columns(8);
    @include shift(2);
  }


  h2 {
    font-size: 34px;
    margin: 0 0 16px;
    line-height: 1.2em;
  }
  p {
    font-size: 20px;
  }

  .laptop-wrap {
    width: 953px;
    height: 572px;
    background: url('/img/landing/laptop.png') left center no-repeat;
    margin: -220px 0 0 -80px;
  }
}








// **********************************************************************
// Navigation
// **********************************************************************

// section.navigation {
//   position: absolute;
//   top: 430px;
//   right: 0; left: 0;
//   background: none;

//   .logo-wrap {
//     display: none;
//   }
// }

// section.navigation.fixed-nav {
//   position: fixed;
//   z-index: 100;
//   height: 90px;
//   top: 0;
//   background: url('/img/camp-hero.jpg') center bottom no-repeat;
//   background-size: cover;
//   padding-top: 24px;
//   box-shadow: 0 1px 12px rgba(black, 0.5);

//   > .row { @include clearfix; }

//   .logo-wrap {
//     display: block;
//     float: left;
//   }

//   .main-nav {
//     float: right;
//   }
// }


// div.nav-wrapper {
//   @include transition(top .15s eas-in);

//   .main-nav {
//     margin-left: -20px;
//   }

//   a {
//     display: inline-block;
//     padding: 10px 20px;
//     position: relative;
//     text-transform: uppercase;
//     font-size: 14px;
//     color: white;
//     border-radius: 3px;
//     opacity: .9;
//     @include transition(color .25s ease-in .2s, background .25s ease-in .2s, opacity .25s .2s);
//     &:hover {
//       opacity: 1;
//     }
//     &.active {
//       background: rgba(white, .2);
//     }
//   }

// }













// **********************************************************************
// Projects
// **********************************************************************


section.case-studies {
  padding-top: 0;

  .hr-wrap {
    margin-bottom: 50px;
  }

  ul.studies {
    @include container;
    li.case {
      @include span-columns(4);
      @include omega(3n);

      &:hover .case-meta {
        @include transform(translate(0, 0));
      }

      .case-content {
        overflow: hidden;
        background-size: cover;
        position: relative;
        height: 350px;
        border-radius: 3px;
      }

      .case-meta {
        $meta-height: 124px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: $meta-height;
        background: rgba(black, .7);
        color: white;
        padding: 10px;
        @include transform(translate(0, $meta-height + 5));
        @include transition(all .5s .05s);

        h3 {
          margin: 0 0 5px;
        }
        p {
          margin: 0;
          font-size: 14px;
          line-height: 1.4em;
          font-weight: normal;
          color: #ccc;
        }
      }
    }
  }

}





// **********************************************************************
// PHILOSOPHY
// **********************************************************************

section.philosophy {
  padding-top: 100px;
  @include container;

  > .row {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 40px;
    @include row;
  }

  .title-text {
    @include span-columns(5);
  }
  .description {
    @include span-columns(7);
  }

  p {
    font-size: 19px;
    line-height: 32px;
    color: $off-white;
  }

  h2 {
    line-height: 52px;
    margin: 10px 0 0;
    color: $off-white;
  }
}




// **********************************************************************
// ABOUT
// **********************************************************************

section.about {
  padding: 150px 0;
  color: white;
  @include container;

  .row {
    @include row;
  }

  h2 {
    line-height: 1em;
  }

  div.about-us {
    @include span-columns(7);
    p {
      font-size: 20px;
      margin: 0 0 25px;
    }
  }

  div.profile {
    @include span-columns(2);
    &.first { @include shift(1); }
  }

  div.profile > p {
    font-size: 14px;
    font-style: italic;
  }

  img.profile {
    margin-bottom: 12px;
    width: 100%;
  }

  h3 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 10px;
    color: $teal-light;
  }

  div.profile:first-child {
    text-align: right;

    > p {
      padding: 0;
      padding-left: 20px;
    }
  }
}

div.social-links {
  margin-bottom: 30px;
  > a {
    position: relative;
    display: inline-block;
    height: 28px;
    width: 28px;
    margin-left: 5px;
    &:hover {
      img {
        opacity: 1;
      }
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
    @include transition(opacity .25s ease-in);
  }
}








// **********************************************************************
// FOOTER WRAP
// **********************************************************************

div.footer-wrap {
  background: url('/img/camp-footer.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 50;

  section { background: none; }
  > .row { @include clearfix; }

  .logo-wrap {
    float: left;
  }

  .footer-nav {
    float: right;

    a.active {
      background: $primary;
    }
  }
}


section.footer {
  padding: 0;

  > .row {
    border-top: 1px solid $light-gray;
    padding: 35px 0 30px;
  }
}









