@import "../config/variables";

// **********************************************************************
// MOTOROSO VARIABLES
// **********************************************************************

$text:        #524d56;
$text-dark:   #555555;

$red:         #d43c28;

// **********************************************************************
// MOTOROSO BASE
// **********************************************************************

body {
  color: $text;
}

// **********************************************************************
// HERO
// **********************************************************************

.motoroso-hero {
  background: url('/img/camp-hero.jpg') center top no-repeat;
  background-size: cover;
  height: 750px;
  overflow: hidden;

  > .row { position: relative; }
}

.hero-interface-1,
.hero-interface-2 {
  max-width: 700px;
  position: absolute;
}

.hero-interface-1 {
  top: 200px;
  left: 0;
  z-index: 8;
}

.hero-interface-2 {
  top: 300px;
  right: 0;
  z-index: 10;
}

// **********************************************************************
// SECTIONS
// **********************************************************************

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

// **********************************************************************
// INTRO
// **********************************************************************

.section.intro {
  padding: 110px 0;
  text-align: center;
}

// **********************************************************************
// SORTING & FILTERING
// **********************************************************************

.section.sorting {
  padding-top: 110px;
  color: $text-dark;
  background: #e3e3e3;

  .sort-image-1 {
    margin-left: 20px;
  }

  .sorting-content {
    > * { margin-left: 40px; }
  }

  p {
    margin-bottom: 50px;
  }
}

// **********************************************************************
// PULL QUOTE
// **********************************************************************

.section.quote {
  background: $red;
  color: white;
  text-align: center;
  padding: 100px 0;
  h2 {
    line-height: 46px;
    font-size: 40px;
    margin: 0;
  }
}


// **********************************************************************
// VIEW MOTOR
// **********************************************************************

.section.single-motor {
  position: relative;
  background: #30353c;
  .top-strip {
    height: 100px;
    background: #1c2228;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  h4, p {
    color: white;
  }
  .about {
    margin-top: 200px;
  }
}