@import "../config/variables";

// **********************************************************************
// MOTOROSO VARIABLES
// **********************************************************************

$text:        #524d56;
$text-dark:   #555555;

$red:         #d43c28;

// **********************************************************************
// MOTOROSO BASE
// **********************************************************************

body {
  color: $text;
}

// **********************************************************************
// HERO
// **********************************************************************

.motoroso-hero {
  overflow: hidden;
  .row { position: relative; }
}

.hero-interface-1,
.hero-interface-2 {
  max-width: 700px;
  position: absolute;
}

.hero-interface-1 {
  top: 320px;
  left: 0;
  z-index: 8;
}

.hero-interface-2 {
  top: 420px;
  right: 0;
  z-index: 10;
}

// **********************************************************************
// SECTIONS
// **********************************************************************

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

// **********************************************************************
// INTRO
// **********************************************************************

.section.intro {
  padding: 80px 0;
  text-align: center;
  .container {
    @include row;
  }
  .section-content {
    @include span-columns(8);
    @include shift(2);
  }
  p {
    margin: 0;
  }
}

// **********************************************************************
// SORTING & FILTERING
// **********************************************************************

.section.sorting {
  padding-top: 110px;
  padding-bottom: 0;
  color: $text-dark;
  background: #e3e3e3;

  .sorting-img {
    @include span-columns(3);
  }
  .sorting-content {
    @include span-columns(9);
    position: relative;
    padding-left: 30px;
    img {
      margin-top: 20px;
    }
  }
}

// **********************************************************************
// PULL QUOTE
// **********************************************************************

.section.quote {
  background: $red;
  color: white;
  text-align: center;
  padding: 100px 0;
  h2 {
    line-height: 46px;
    font-size: 40px;
    margin: 0;
  }
}


// **********************************************************************
// VIEW MOTOR
// **********************************************************************

.section.single-motor {
  position: relative;
  background: #30353c;
  .top-strip {
    height: 100px;
    background: #1c2228;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  h4, p {
    color: white;
  }
  .row {
    z-index: 10;
    position: relative;
  }
  .about {
    @include span-columns(3);
    margin-top: 200px;
  }
  .interface {
    @include span-columns(9);
  }
}