@import "../config/variables";

// **********************************************************************
// MOTOROSO VARIABLES
// **********************************************************************

$text:        #524d56;
$text-dark:   #555555;

$teal:        #c4e5de;

// **********************************************************************
// MOTOROSO BASE
// **********************************************************************

body {
  color: $text;
}

// **********************************************************************
// HERO
// **********************************************************************

.women-hero {
  .case-study-hero-intro {
    margin-top: 70px;
    img {
      max-width: 250px;
    }
  }
}

// **********************************************************************
// SECTIONS
// **********************************************************************

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

// **********************************************************************
// INTRO
// **********************************************************************

.section.intro {
  padding: 80px 0;
  text-align: center;
  background: white;
  .container {
    @include row;
  }
  .section-content {
    @include span-columns(10);
    @include shift(1);
  }
  p {
    margin: 0;
  }
}


// **********************************************************************
// PERSONALITY
// **********************************************************************

.section.personality {
  .section-content {
    @include span-columns(4);
    padding-right: 30px;
  }
  .section-img {
    @include span-columns(8);
    img {
      max-width: 100%;
      border-radius: 2px;
    }
  }
}

// **********************************************************************
// SIMPLE
// **********************************************************************

.section.simple {
  background: $teal;
  color: darken($teal, 50%);
  padding-bottom: 0;

  .section-content {
    @include span-columns(6);
  }
}


// **********************************************************************
// PROCESS
// **********************************************************************

.section.process {
  background: $teal;
  color: white;
  padding-top: 50px;

  .process-img {
    @include span-columns(3);
    max-height: 400px;
    overflow: hidden;
    border-radius: 2px;
    img {
      max-width: 100%;
    }
  }
}