@import "../config/variables";

// **********************************************************************
// WOMEN VARIABLES
// **********************************************************************

$text:        #524d56;
$text-dark:   #555555;

$teal:        #c4e5de;

// **********************************************************************
// WOMEN BASE
// **********************************************************************

body {
  color: $text;
}

// **********************************************************************
// HERO
// **********************************************************************

.women-hero {
  .case-study-hero-intro {
    margin-top: 70px;
    img {
      max-width: 250px;
    }
  }
}

// **********************************************************************
// SECTIONS
// **********************************************************************

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

// **********************************************************************
// INTRO
// **********************************************************************

.section.intro {
  padding: 80px 0;
  text-align: center;
  background: white;
  .container {
    @include row;
  }
  .section-content {
    @include span-columns(10);
    @include shift(1);
  }
  p {
    margin: 0;
  }
}


// **********************************************************************
// PERSONALITY
// **********************************************************************

.section.personality {
  border-top: 1px solid darken($bg, 8%);
  .section-content {
    @include span-columns(4);
    padding-right: 30px;
  }
  .section-img {
    @include span-columns(8);
    img {
      max-width: 100%;
      border-radius: 2px;
    }
  }
}

@include mq($tablet) {
  .section.personality {
    .section-content {
      @include span-columns(10);
      @include shift(1);
      margin-bottom: 30px;
      padding-right: 0;
    }
    .section-img {
      @include span-columns(10);
      @include shift(1);
    }
  }
}

// **********************************************************************
// SIMPLE
// **********************************************************************

.section.simple {
  background: $teal;
  color: darken($teal, 50%);
  border-top: 1px solid darken($teal, 8%);
  padding-bottom: 0;

  .section-content {
    @include span-columns(6);
  }
}

@include mq($tablet) {
  .section.simple {
    .section-content {
      @include span-columns(10);
      @include shift(1);
      margin-bottom: 30px;
    }
  }
}






// **********************************************************************
// PROCESS
// **********************************************************************

.section.process {
  background: $teal;
  color: white;
  padding-top: 50px;
  border-bottom: 1px solid darken($teal, 8%);

  .process-img {
    @include span-columns(3);
    max-height: 400px;
    overflow: hidden;
    border-radius: 2px;
    img {
      max-width: 100%;
    }
  }
}

@include mq($tablet) {
  .section.process {
    .process-img {
      @include span-columns(6);
      @include omega(2n);
      max-height: 500px;
      margin-bottom: 15px;
    }
  }
}

@include mq($mobile) {
  .section.process {
    .process-img {
      @include span-columns(10);
      @include shift(1);
      @include omega();
      max-height: 600px;
      margin-bottom: 20px;
    }
  }
}



// **********************************************************************
// ACCOLADES
// **********************************************************************

.section.accolades {
  .about {
    @include span-columns(8);
    @include shift(2);
  }
  h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  li {
    @include clearfix;
    p {
      float: left;
    }
    img {
      float: right;
      margin-top: -15px;
    }
  }
}

@include mq($tablet) {
  .section.accolades {
    li {
      @include clearfix;
      text-align: center;
      p {
        float: none;
        margin-bottom: 10px;
      }
      img {
        float: none;
        margin-top: 0;
      }
    }
  }
}