---
layout: default
className: "_case-studies"
styles: ["sections/case-study.css"]
---

{% include header.html %}

<div class="case-studies-index">
  <div class="container">
    <div class="case-studies_head">
      <h1>Featured Case Studies</h1>
    </div>

    {% include case-studies.html %}

  </div>
  <div class="case-study-footer-wrap">
    <div class="footer-container container">
      <h3>We&rsquo;re always looking for new opportunities.</h3>
      <div class="footer_links footer_links--web">
        <p>
          Check out our
          <a href="/#services" class="btn btn-inverse btn-slim">Services</a>
          or
        </p>
        <p>
          <a href="/contact/" class="btn btn-secondary btn-slim">Get in Touch</a>
          to start your project now.
        </p>
      </div>

      <div class="footer_links footer_links--mobile">
        <div class="footer_links_link-wrap">
          <p>
            See what we can do for you.
            <a href="/#services" class="btn btn-inverse btn-slim">Services</a>
          </p>
        </div>
        <div class="footer_links_link-wrap">
          <p>
            Start you project now.
            <a href="/contact/" class="btn btn-secondary btn-slim">Get in Touch</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


