---
layout: default
className: "_case-studies"
styles: ["sections/case-study.css"]
---

{% include header.html %}

<div class="case-studies-index">
  <div class="container">
    <div class="case-studies_head">
      <h1>Featured Case Studies</h1>
      <p class="p-large">Some of our recent work that we're really proud of.</p>
    </div>

    {% include case-studies.html %}

    <div class="case-studies_footer">
      <h2>Impressed with our work?</h2>
      <p>
        We're always looking for new opportunities.
      </p>
      <a href="/contact/" class="btn btn-secondary">Get in touch now</a>
    </div>
  </div>
</div>


