<div class="case-study-footer-wrap">
  <div class="footer-container container">
    <h3>Like our work with {{page.title}}?</h3>
    <div class="footer_links footer_links--web">
      <p>
        Check out some of our other
        <a href="/case-studies/" class="btn btn-inverse btn-slim">Case Studies</a>
        or
      </p>
      <p>
        <a href="/contact/" class="btn btn-secondary btn-slim">Get in Touch</a>
        to start your project now.
      </p>
    </div>

    <div class="footer_links footer_links--mobile">
      <div class="footer_links_link-wrap">
        <p>
          Check out more work.
          <a href="/case-studies/" class="btn btn-inverse btn-slim">Case Studies</a>
        </p>
      </div>
      <div class="footer_links_link-wrap">
        <p>
          Start you project now.
          <a href="/contact/" class="btn btn-secondary btn-slim">Get in Touch</a>
        </p>
      </div>
    </div>
  </div>
</div>
