<div id="primary-header" class="{{include.class_name}}">
  <div class="row">
    <div class="logo-wrap">
      <a href="/">
        <img src="/img/logos/header-logo.png" alt="Camp Four Logo">
      </a>
    </div>
    <div class="header-nav nav-wrapper">
      <a href="/#services" title="Services" class="services">Services</a>
      <a href="/case-studies/" title="Case Studies" class="case-studies">Case Studies</a>
      <a href="/#about" title="About us" class="about">About Us</a>
      <a href="/contact/" title="Contact Us" class="contact">Contact</a>
    </div>
  </div>
</div>