// **********************************************************************
// BUTTONS
// **********************************************************************

.btn {
  display: inline-block;
  padding: 10px 20px;
  color: $blue-gray;
  border-radius: 3px;
  text-align: center;
  box-shadow: none;
  font-size: 18px;
  -webkit-appearance: none;
  border: none;
  vertical-align: bottom;
  font-weight: $fw-light;
  @include transition(background .25s ease-in, color .25s ease-in);
  &:hover {
    background: $blue-gray;
    color: $off-white;
  }
}

// **********************************************************************
// BUTTON TYPES
// **********************************************************************

.btn.btn-primary {
  background: $primary;
  color: white;
  text-transform: uppercase;
}

.btn.btn-secondary {
  background: $secondary;
  color: white;
  text-transform: uppercase;
}

// **********************************************************************
// BUTTON CHARACTERISTICS
// **********************************************************************

.btn.btn-wide {
  padding-left: 30px;
  padding-right: 30px;
}

span.icon {
  display: inline-block;
}
