// **********************************************************************
// HEADER
// **********************************************************************

#primary-header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background: $primary;
  z-index: 100;
  @include transition(background .25s);

  &.trans {
    background: none;
  }
}

#primary-header,
.footer {
  padding: 10px 0;

  > .row {
    @include outer-container;
    @include clearfix;
  }

  .logo-wrap {
    float: left;
    img {
      width: 190px;
      margin-top: 7px;
    }
  }

  .header-nav,
  .footer-nav {
    float: right;

    a.active {
      background: $primary;
    }
  }

  .nav-wrapper {
    @include transition(top .15s eas-in);

    .main-nav {
      margin-left: -20px;
    }

    a {
      display: inline-block;
      padding: 10px 20px;
      position: relative;
      text-transform: uppercase;
      font-size: 16px;
      color: white;
      border-radius: 3px;
      opacity: .9;
      @include transition(color .25s ease-in .2s, background .25s ease-in .2s, opacity .25s .2s);
      &:hover {
        opacity: 1;
      }
      &.active {
        background: rgba(white, .2);
      }
    }

  }
}

#serviceDrop {
  &:before {
    left: 40px;
  }
  &:after {
    left: 39px;
  }
}