* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #555555; }

.section .main-img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

#case-study-header {
  background: url("/img/camp-hero.jpg") center top no-repeat;
  background-size: cover; }

.section.ascendify-hero {
  padding: 210px 0 100px; }

.section.group {
  padding: 0 0 110px; }

.section.search {
  padding: 40px 0 180px; }
  .section.search .main-img {
    margin-bottom: 100px; }
  .section.search .about {
    font-size: 20px;
    line-height: 28px; }

.section.showcase {
  background: #f5f5f5;
  padding: 75px 0; }
  .section.showcase .row .row img + img {
    margin-top: 35px; }
  .section.showcase .about {
    margin-top: 20px; }
