/* line 7, ../../scss/sections/case-study.scss */
#case-study-header {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  padding: 20px 0;
}
/* line 57, ../../scss/config/variables.scss */
#case-study-header > .row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, ../../scss/sections/case-study.scss */
#case-study-header .logo-wrap {
  float: left;
}
/* line 19, ../../scss/sections/case-study.scss */
#case-study-header .footer-nav {
  float: right;
}
/* line 22, ../../scss/sections/case-study.scss */
#case-study-header .footer-nav a.active {
  background: #99c9a3;
}
/* line 27, ../../scss/sections/case-study.scss */
#case-study-header .nav-wrapper {
  -webkit-transition: top 0.15s eas-in;
  -moz-transition: top 0.15s eas-in;
  -o-transition: top 0.15s eas-in;
  transition: top 0.15s eas-in;
}
/* line 30, ../../scss/sections/case-study.scss */
#case-study-header .nav-wrapper .main-nav {
  margin-left: -20px;
}
/* line 34, ../../scss/sections/case-study.scss */
#case-study-header .nav-wrapper a {
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  border-radius: 3px;
  opacity: .9;
  -webkit-transition: color 0.25s ease-in, background 0.25s ease-in, opacity 0.25s;
  -webkit-transition-delay: 0.2s, 0.2s, 0.2s;
  -moz-transition: color 0.25s ease-in 0.2s, background 0.25s ease-in 0.2s, opacity 0.25s 0.2s;
  -o-transition: color 0.25s ease-in 0.2s, background 0.25s ease-in 0.2s, opacity 0.25s 0.2s;
  transition: color 0.25s ease-in 0.2s, background 0.25s ease-in 0.2s, opacity 0.25s 0.2s;
}
/* line 44, ../../scss/sections/case-study.scss */
#case-study-header .nav-wrapper a:hover {
  opacity: 1;
}
/* line 47, ../../scss/sections/case-study.scss */
#case-study-header .nav-wrapper a.active {
  background: rgba(255, 255, 255, 0.2);
}

/* line 60, ../../scss/sections/case-study.scss */
p {
  font-size: 18px;
  line-height: 26px;
}

/* line 64, ../../scss/sections/case-study.scss */
h4 {
  margin: 0;
}
