* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.contact-content {
  background: url("/img/camp-footer.jpg") center center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.8); }
  .contact-content p {
    font-size: 18px;
    line-height: 26px; }

.contact-content .contact-intro {
  padding: 175px 0 70px; }
  .contact-content .contact-intro .about {
    float: left; }

form {
  border: 1px solid white;
  border-bottom: none; }
  form fieldset {
    border-bottom: 1px solid white; }
    form fieldset.double:after {
      content: "";
      display: table;
      clear: both; }
    form fieldset.double .control-group {
      width: 50%;
      float: left; }
  form .control-group + .control-group {
    border-left: 1px solid white; }
  form .control-group {
    padding: 4px 8px;
    position: relative;
    z-index: 10;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s; }
    form .control-group:before {
      border: 1px solid transparent;
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      z-index: 0;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      transition: all 0.25s; }
    form .control-group.focus {
      border-color: transparent;
      z-index: 12;
      background: rgba(255, 255, 255, 0.08); }
      form .control-group.focus:before {
        border: 1px solid #383d46;
        z-index: 11;
        content: ''; }
      form .control-group.focus label {
        color: #383d46; }
    form .control-group + .control-group.focus:before {
      left: -2px; }
    form .control-group.invalid {
      border-color: transparent;
      z-index: 12; }
      form .control-group.invalid:before {
        border: 1px solid #ca3113;
        z-index: 11;
        content: ''; }
    form .control-group.invalid.focus label {
      color: white; }
    form .control-group input,
    form .control-group textarea {
      position: relative;
      z-index: 15; }
  form label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    display: block; }
    form label:hover {
      cursor: default; }
  form input,
  form textarea {
    color: white;
    width: 100%;
    background: none;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: "source-sans-pro", sans-serif;
    font-weight: 300;
    margin-top: -5px;
    padding: 7px 0; }
  form select {
    width: 100%; }
  form textarea {
    resize: none;
    min-height: 120px; }

div.form-footer {
  margin-top: 20px; }
  div.form-footer button {
    float: right; }
