/* line 13, ../../scss/sections/contact.scss */
.contact-content {
  background: url("/img/camp-footer.jpg") center center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.8);
}
/* line 22, ../../scss/sections/contact.scss */
.contact-content p {
  font-size: 18px;
  line-height: 26px;
}

/* line 33, ../../scss/sections/contact.scss */
.contact-content .contact-intro {
  padding: 175px 0 70px;
}
/* line 35, ../../scss/sections/contact.scss */
.contact-content .contact-intro .about {
  float: left;
}

/* line 44, ../../scss/sections/contact.scss */
form {
  border: 1px solid white;
  border-bottom: none;
}
/* line 48, ../../scss/sections/contact.scss */
form fieldset {
  border-bottom: 1px solid white;
}
/* line 59, ../../scss/config/variables.scss */
form fieldset.double:after {
  content: "";
  display: table;
  clear: both;
}
/* line 52, ../../scss/sections/contact.scss */
form fieldset.double .control-group {
  width: 50%;
  float: left;
}
/* line 59, ../../scss/sections/contact.scss */
form .control-group + .control-group {
  border-left: 1px solid white;
}
/* line 63, ../../scss/sections/contact.scss */
form .control-group {
  padding: 4px 8px;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 70, ../../scss/sections/contact.scss */
form .control-group:before {
  border: 1px solid transparent;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 0;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 81, ../../scss/sections/contact.scss */
form .control-group.focus {
  border-color: transparent;
  z-index: 12;
  background: rgba(255, 255, 255, 0.08);
}
/* line 85, ../../scss/sections/contact.scss */
form .control-group.focus:before {
  border: 1px solid #99c9a3;
  z-index: 11;
  content: '';
}
/* line 90, ../../scss/sections/contact.scss */
form .control-group.focus label {
  color: #99c9a3;
}
/* line 94, ../../scss/sections/contact.scss */
form .control-group + .control-group.focus:before {
  left: -2px;
}
/* line 98, ../../scss/sections/contact.scss */
form .control-group.invalid {
  border-color: transparent;
  z-index: 12;
}
/* line 101, ../../scss/sections/contact.scss */
form .control-group.invalid:before {
  border: 1px solid #cc5126;
  z-index: 11;
  content: '';
}
/* line 109, ../../scss/sections/contact.scss */
form .control-group.invalid.focus label {
  color: white;
}
/* line 113, ../../scss/sections/contact.scss */
form .control-group input,
form .control-group textarea {
  position: relative;
  z-index: 15;
}
/* line 119, ../../scss/sections/contact.scss */
form label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  width: 100%;
  display: block;
}
/* line 125, ../../scss/sections/contact.scss */
form label:hover {
  cursor: default;
}
/* line 131, ../../scss/sections/contact.scss */
form input,
form textarea {
  color: white;
  width: 100%;
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: "source-sans-pro", sans-serif;
  font-weight: 300;
  margin-top: -5px;
  padding: 7px 0;
}
/* line 145, ../../scss/sections/contact.scss */
form select {
  width: 100%;
}
/* line 149, ../../scss/sections/contact.scss */
form textarea {
  resize: none;
  min-height: 120px;
}

/* line 155, ../../scss/sections/contact.scss */
div.form-footer {
  margin-top: 20px;
}
/* line 157, ../../scss/sections/contact.scss */
div.form-footer button {
  float: right;
}
