* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

div.landing-page {
  background: #f8f8f8; }
  div.landing-page p {
    font-weight: 300;
    font-size: 20px; }

section.content-section {
  padding: 100px 0; }

section {
  position: relative;
  background: #f8f8f8;
  z-index: 10; }
  section .container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px; }
    section .container:after {
      content: "";
      display: table;
      clear: both; }

section.dark {
  background: #6f747d; }
  section.dark .hr-wrap h3 {
    background: #6f747d; }

section.hr {
  padding-top: 0; }
  section.hr .hr-wrap {
    margin-bottom: 50px; }

#landing-hero {
  height: 500px;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  z-index: 1;
  background: #3d4451; }
  #landing-hero div.hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(56, 61, 70, 0.6);
    z-index: 10; }
  #landing-hero div.image-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3d4451;
    background: url("/img/camp-hero2-bw.jpg");
    background-size: cover;
    background-position: center;
    z-index: 8; }
    #landing-hero div.image-wrapper .overlay {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgba(61, 68, 81, 0.5); }
  #landing-hero .hero-content {
    color: #f1f1f1;
    text-align: center;
    position: relative;
    top: 50%;
    margin: 0 auto;
    max-width: 540px;
    z-index: 15;
    -webkit-transform: translate(0, -60%);
    -moz-transform: translate(0, -60%);
    -ms-transform: translate(0, -60%);
    -o-transform: translate(0, -60%);
    transform: translate(0, -60%); }
    #landing-hero .hero-content img {
      display: block;
      max-width: 180px;
      margin: 0 auto 30px; }

#logo-wrap {
  position: relative;
  top: -370px; }
  #logo-wrap img {
    left: 50%;
    margin-left: -127px;
    display: block;
    position: absolute;
    z-index: 5; }

section.top-text {
  padding-bottom: 110px;
  margin-top: 560px; }
  section.top-text .section-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    section.top-text .section-content:last-child {
      margin-right: 0; }
  section.top-text h2 {
    font-size: 34px;
    margin: 0 0 16px;
    line-height: 1.2em; }
  section.top-text p {
    font-size: 20px; }
  section.top-text .laptop-wrap {
    width: 953px;
    height: 572px;
    background: url("/img/landing/laptop.png") left center no-repeat;
    margin: -220px 0 0 -80px; }

section.case-studies {
  padding-top: 0; }
  section.case-studies .hr-wrap {
    margin-bottom: 50px; }
  section.case-studies ul.studies {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px; }
    section.case-studies ul.studies:after {
      content: "";
      display: table;
      clear: both; }
    section.case-studies ul.studies li.case {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      section.case-studies ul.studies li.case:last-child {
        margin-right: 0; }
      section.case-studies ul.studies li.case:nth-child(3n) {
        margin-right: 0; }
      section.case-studies ul.studies li.case:nth-child(3n+1) {
        clear: left; }
      section.case-studies ul.studies li.case:hover .case-meta {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0); }
      section.case-studies ul.studies li.case .case-content {
        overflow: hidden;
        background-size: cover;
        position: relative;
        height: 350px;
        border-radius: 3px; }
      section.case-studies ul.studies li.case .case-meta {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 124px;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 10px;
        -webkit-transform: translate(0, 129px);
        -moz-transform: translate(0, 129px);
        -ms-transform: translate(0, 129px);
        -o-transform: translate(0, 129px);
        transform: translate(0, 129px);
        -webkit-transition: all 0.5s 0.05s;
        -moz-transition: all 0.5s 0.05s;
        transition: all 0.5s 0.05s; }
        section.case-studies ul.studies li.case .case-meta h3 {
          margin: 0 0 5px; }
        section.case-studies ul.studies li.case .case-meta p {
          margin: 0;
          font-size: 14px;
          line-height: 1.4em;
          font-weight: normal;
          color: #ccc; }

section.philosophy {
  padding-top: 100px;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  section.philosophy:after {
    content: "";
    display: table;
    clear: both; }
  section.philosophy > .row {
    border-bottom: 1px solid #aebdbb;
    padding-bottom: 40px;
    display: block; }
    section.philosophy > .row:after {
      content: "";
      display: table;
      clear: both; }
  section.philosophy .title-text {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    section.philosophy .title-text:last-child {
      margin-right: 0; }
  section.philosophy .description {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    section.philosophy .description:last-child {
      margin-right: 0; }
  section.philosophy p {
    font-size: 19px;
    line-height: 32px;
    color: #f1f1f1; }
  section.philosophy h2 {
    line-height: 52px;
    margin: 10px 0 0;
    color: #f1f1f1; }

section.about {
  padding: 150px 0;
  color: white;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  section.about:after {
    content: "";
    display: table;
    clear: both; }
  section.about .row {
    display: block; }
    section.about .row:after {
      content: "";
      display: table;
      clear: both; }
  section.about h2 {
    line-height: 1em; }
  section.about div.about-us {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    section.about div.about-us:last-child {
      margin-right: 0; }
    section.about div.about-us p {
      font-size: 20px;
      margin: 0 0 25px; }
  section.about div.profile {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    section.about div.profile:last-child {
      margin-right: 0; }
    section.about div.profile.first {
      margin-left: 8.5298%; }
  section.about div.profile > p {
    font-size: 14px;
    font-style: italic; }
  section.about img.profile {
    margin-bottom: 12px;
    width: 100%; }
  section.about h3 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 10px;
    color: #d0e7e3; }
  section.about div.profile:first-child {
    text-align: right; }
    section.about div.profile:first-child > p {
      padding: 0;
      padding-left: 20px; }

div.social-links {
  margin-bottom: 30px; }
  div.social-links > a {
    position: relative;
    display: inline-block;
    height: 28px;
    width: 28px;
    margin-left: 5px; }
    div.social-links > a:hover img {
      opacity: 1; }
  div.social-links img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
    -webkit-transition: opacity 0.25s ease-in;
    -moz-transition: opacity 0.25s ease-in;
    transition: opacity 0.25s ease-in; }

div.footer-wrap {
  background: url("/img/camp-footer.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 50; }
  div.footer-wrap section {
    background: none; }
  div.footer-wrap > .row:after {
    content: "";
    display: table;
    clear: both; }
  div.footer-wrap .logo-wrap {
    float: left; }
  div.footer-wrap .footer-nav {
    float: right; }
    div.footer-wrap .footer-nav a.active {
      background: #383d46; }

section.footer {
  padding: 0; }
  section.footer > .row {
    border-top: 1px solid #aebdbb;
    padding: 35px 0 30px; }
