* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body[data-device-type="tablet"] #landing-hero,
body[data-device-type="tv"] #landing-hero,
body[data-device-type="mobile"] #landing-hero {
  position: relative; }
body[data-device-type="tablet"] section.top-text,
body[data-device-type="tv"] section.top-text,
body[data-device-type="mobile"] section.top-text {
  margin-top: 0;
  background: white; }

@media only screen and (max-width: 768px) {
  #landing-hero {
    height: 600px; }

  #logo-wrap img {
    width: 200px;
    margin-left: -100px;
    top: -370px; }

  section.top-text {
    margin-top: 600px; }

  section.navigation div.nav-wrapper a {
    padding: 5px 8px; }
    section.navigation div.nav-wrapper a.home-anchor {
      padding: 4px 20px; }

  section.about div.profile,
  section.about div.profile:first-child,
  section.about div.profile > p,
  section.about div.profile:first-child > p {
    text-align: center; }
  section.about div.profile img {
    width: 180px; } }
