* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #524d56; }

.motoroso-hero {
  background: url("/img/camp-hero.jpg") center top no-repeat;
  background-size: cover;
  height: 750px;
  overflow: hidden; }
  .motoroso-hero > .row {
    position: relative; }

.hero-interface-1,
.hero-interface-2 {
  max-width: 700px;
  position: absolute; }

.hero-interface-1 {
  top: 200px;
  left: 0;
  z-index: 8; }

.hero-interface-2 {
  top: 300px;
  right: 0;
  z-index: 10; }

.section {
  padding-top: 50px;
  padding-bottom: 50px; }

.section.intro {
  padding: 110px 0;
  text-align: center; }

.section.sorting {
  padding-top: 110px;
  color: #555555;
  background: #e3e3e3; }
  .section.sorting .sort-image-1 {
    margin-left: 20px; }
  .section.sorting .sorting-content > * {
    margin-left: 40px; }
  .section.sorting p {
    margin-bottom: 50px; }

.section.quote {
  background: #d43c28;
  color: white;
  text-align: center;
  padding: 100px 0; }
  .section.quote h2 {
    line-height: 46px;
    font-size: 40px;
    margin: 0; }

.section.single-motor {
  position: relative;
  background: #30353c; }
  .section.single-motor .top-strip {
    height: 100px;
    background: #1c2228;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .section.single-motor h4, .section.single-motor p {
    color: white; }
  .section.single-motor .about {
    margin-top: 200px; }
