---
layout: default
styles: ['sections/case-study.css']
---

<div id="case-study-header">
  <div class="row">
    <div class="logo-wrap">
      <img src="/img/logos/footer-logo.png" alt="Camp Four Logo">
    </div>
    <div class="footer-nav nav-wrapper">
      <a href="" title="Case Studies" class="case-studies">Case Studies</a>
      <a href="" title="Our Philosophy" class="philosophy">Our Philosophy</a>
      <a href="" title="About us" class="about">About Us</a>
      <a href="blog.campfourcreative.com" title="Blog" class="blog">Blog</a>
      <a href="/contact/" title="Contact Us" class="contact active">Contact Us</a>
    </div>
  </div>
</div>


<div id="case-study-content">
  {{content}}
</div>