---
className: portfolio-item
image: /img/projects/ansel-adams.jpg
---

<div class="portfolio-content">

  <div class="row">
    <a href="" class="close">
      <span class="icon icon-arrow-left"></span>
    </a>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <div class="image-wrap">
        <div class="browser-chrome">
          <span></span><span></span><span></span>
        </div>
        <div class="browser-chrome-wrap">
          <div class="image-wrap">
            <img data-src="{{page.image}}" alt="" id="portfolio-hero">
          </div>
        </div>
      </div>      
    </div>

    <div class="large-4 columns">
      <article>
        <h2>{{page.title}}</h2>
        <div class="post-content">{{ content }}</div>
      </article>         
    </div>
  </div>

</div>
